.red {
    color: red;
}

.green {
    color: red;
}
.orange {
    color: red;
}

.pink {
    color: pink;
}

.skyblue {
    color: skyblue;
}

.grey {
    color: grey;
}

.black {
    color: black;
}

.yellow {
    color: yellow;
}

.white {
    color: white;
}


.tcenter {
    text-align: center;
}

.tleft {
    text-align: left;
}

.tright {
    text-align: right;
}

.bold {
    font-weight: bold;
}


.px10 {
    font-size: 10px; 
}

.px20 {
    font-size: 20px; 
}

.px30 {
    font-size: 30px; 
}

.px40 {
    font-size: 40px; 
}

.px50 {
    font-size: 50px; 
}

.px60 {
    font-size: 60px; 
}

.px70 {
    font-size: 70px; 
}

.px80 {
    font-size: 80px; 
}

.px90 {
    font-size: 90px; 
}

.px100 {
    font-size: 100px; 
}


