.red {
    color: red;
}

.green {
    color: red;
}
.orange {
    color: red;
}


.bold {
    font-weight: bold;
}


.sf {
    font-size: 10px; /* ছোট ফন্ট সাইজ */
}

.mf {
    font-size: 30px; /* মাঝারি ফন্ট সাইজ */
}

.lf {
    font-size: 50px; /* বড় ফন্ট সাইজ */
}



