.red {
    color: red;
}

.green {
    color: green;
}
.orange {
    color: orange;
}


.bold {
    font-weight: bold;
}

.px50 {
    font-size: 50px;
}

.px100 {
    font-size: 100px;
}
