.red {
    color: red;
}

.green {
    color: green;
}
.orange {
    color: orange;
}


.bold {
    font-weight: bold;
}


.p {
    font-size: 200px; /* Set the font size */
}



